.email-home-container {
    min-height: 535px;
    margin: 0;
}

.email-home-container {
    display: flex;
}

.left-nav-container {
    display: flex;
    flex-direction: column;
}

.email-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 595px;
}

.email-left-navbar {
    margin: 10px 5px 0 5px;
}

@media(max-width: 900px) {
    .email-list-container {
        min-height: 400px;
    }
}

@media(max-width: 600px) {
    .email-list-container {
        min-height: 200px;
    }
}