.email-home-container {
    display: flex;
}

.left-nav-container {
    display: flex;
    flex-direction: column;
}

.email-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}