.all-btn-side-nav {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.all-btn-side-nav>* {
    text-decoration: none;
    cursor: pointer;
}

.btn-compose {
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 50px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.btn-compose:hover {
    background-color: rgb(221, 120, 120);
}

.left-nav-btn {
    width: 100px;
    height: 30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.left-nav-btn:hover {
    background-color: rgb(221, 120, 120);
}