.card-keep-container-main {
    height: 180px;
    width: 200px;
    padding: 5px;
}

.note-prev-main-container {
    display: grid;
    gap: 15px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card-keep-txt {
    height: 135px;
    width: 200px;
}

.card-keep-cmp {
    border: black 1.5px solid;
}

.img-note {
    height: 6.5rem;
    margin-left: 10px;
}

.card-keep-two-btn {
    display: flex;
}

.card-keep-two-btn>* {
    margin-right: 10px;
    cursor: pointer;
}