.note-prev-main-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card-keep-txt {
    height: 200px;
    width: 150px;
}

.card-keep-cmp {
    background-color: rgb(240, 234, 155);
}

.card-keep-txt>* {
    /* background-color: rgb(228, 119, 47); */
    /* background-color: rgb(240, 241, 159); */
}

.img-note {
    height: 7.5rem;
    margin-left: 10px;
}

textarea {
    height: 191px;
    width: 228px;
    /* border: none; */
}