@font-face {
    font-family: Arvo-Regular;
    src: url("../../font/Arvo/Arvo-Regular.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../../font/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Lacquer-Regular;
    src: url("../../font/Lacquer/Lacquer-Regular.ttf");
}