.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.msg-container {
    display: inline-block;
    position: fixed;
    padding: 10px;
    margin-top: 0px;
    font-weight: 700;
}